<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ghostbattery">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GhostBattery">

        <activity
            android:name=".ui.decoy.BatteryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GhostBattery.NoActionBar"
            android:launchMode="singleTask" />

        <activity-alias
            android:name=".AliasBattery"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:targetActivity=".ui.decoy.BatteryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".AliasCalculator"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_decoy_calculator"
            android:label="Calculator"
            android:targetActivity=".ui.decoy.BatteryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".AliasWeather"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_decoy_weather"
            android:label="Weather"
            android:targetActivity=".ui.decoy.BatteryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.PanicDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GhostBattery.NoActionBar" />

        <activity android:name=".ui.onboarding.OnboardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GhostBattery.NoActionBar"/>

        <activity android:name=".ui.secure.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GhostBattery.NoActionBar"/>

        <activity android:name=".ui.secure.DiagnosticsActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.GhostBattery.NoActionBar"/>
        <activity android:name=".ui.secure.DrillModeActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.GhostBattery.NoActionBar"/>
        <activity android:name=".ui.secure.AppPickerActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.GhostBattery.NoActionBar"/>
        <activity android:name=".ui.secure.FolderPickerActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.GhostBattery.NoActionBar"/>
        <activity android:name=".ui.help.HelpActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.GhostBattery.NoActionBar"/>

        <service
            android:name=".service.GhostAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>

    </application>
</manifest>
